<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200" rel="stylesheet">
    <meta charset="UTF-8">
    <title>SuperSync admin</title>
</head>
<body>
<div class="login-container">
    <section class="login" id="login">
        <header>
            <h2>SuperSync Admin bejelentkezés</h2>
        </header>
        <div class="user-table">
            <div th:if="${param.error}">
                Érvénytelen adatok
            </div>
            <form th:action="@{/login}" method="post">
                <div><input class="login-input" type="text" placeholder="Felhasználó név" name="username"></div>
                <div><input class="login-input" type="password" placeholder="Jelszó" name="password"></div>
                <div><input class="login-button navigation-link" type="submit" value="Bejelentkezés"/></div>
            </form>
        </div>
    </section>
</div>
</body>
</html>